/* Radio button Horizontal */
.horizontal-radio .o_radio_item {
    display: inline-block;
    margin-right: 10px;
}

.o_field_x2many_list_row.o_data_row[data-section="true"] {
    background-color: #f0f0f0; /* Light grey background */
    font-weight: bold;
    color: #333;
}